.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.heading {
    color: #fff;
    font-size: 8.4rem;
    font-weight: 600;
    line-height: 116.667%;
}

.heading-2 {
    color: #fff;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 119.444%;
}

.color-1 {
    background: linear-gradient(
        106deg,
        #0095ff 49.58%,
        #0058ff 70.92%
    ) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.color-2 {
    background: linear-gradient(
        95deg,
        #ffcb01 0.44%,
        #ff5993 60.94%
    ) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.color-3 {
    background: linear-gradient(
        99deg,
        #ff5993 7.23%,
        #b12eff 64.49%
    ) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.color-4 {
    background: linear-gradient(
        113deg,
        #722fff 40.29%,
        #b12eff 89.4%
    ) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.color-5 {
    background: linear-gradient(
        92deg,
        #ac2ef8 48.36%,
        #ff5993 91.36%
    ) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
